<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido a la App Bancaria!</h1>
  <p class="lead">Gestiona de forma eficiente la información de tu entidad.</p>
  <hr class="my-4">
  <p>Selecciona una de las siguientes opciones para empezar:</p>
  <a class="btn btn-primary btn-lg m-2" routerLink="/clientes" role="button">Gestionar Clientes</a>
  <a class="btn btn-primary btn-lg m-2" routerLink="/gestores" role="button">Gestionar Gestores</a>
  <a class="btn btn-primary btn-lg m-2" routerLink="/transferencias" role="button">Ver Transferencias</a>
  <a class="btn btn-primary btn-lg m-2" routerLink="/mensajes" role="button">Ver Mensajes</a>
</div>