


<div class="col-sm-6 offset-sm-3">
    <h2>Creacion de un nuevo gestor:</h2>
<form (ngSubmit) = "onSubmitForm()">
     
    <div class="form-group">
        <label> Nombre </label>
        <input type="text" class ="form-control" id = "nombre" [(ngModel)] = "gestor.nombre" name = "nombre">
    </div>
 
    <div class="form-group">
        <label> Email </label>
        <input type="text" class ="form-control" id = "email" [(ngModel)] = "gestor.email" name = "email">
    </div>
 
    <div class="form-group">
        <label> Edad </label>
        <input type="text" class ="form-control" id = "edad" [(ngModel)] = "gestor.edad" name = "edad">
    </div>

    <div class="form-group">
        <label> ID </label>
        <input type="text" class ="form-control" id = "id" [(ngModel)] = "gestor.id" name = "id">
    </div>
 
    <button class = "btn btn-success" type ="submit">Submit</button>
 
</form>
</div>