<h2> Lista de transferencia</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID de ordenante</th>
            <th>ID de beneficiario</th>
            <th>Concepto</th>
            <th>Monto</th>
            <th></th>
        </tr>
    </thead>
    <!-- El bucle recorre cada usuario de users-->
    <!-- Este archivo html está asociado a su respectivo .ts -->
    <!-- users es una propiedad definida en el .ts users: User[]-->
    <tbody>
        <tr *ngFor = "let transferencia of transferencias">
            <!-- {{}} Es interpolación para acceder a los campos -->
            <td>{{transferencia.id}}</td>
            <td>{{transferencia.id_beneficiario}}</td>
            <td>{{transferencia.id_ordenante}}</td>
            <td>{{transferencia.concepto}}</td>
            <td>{{transferencia.monto}}</td>
            <td>
                <!--Estos botones llaman a los métodos definidos en el .ts del componente user-list-->
                
                <button (click) = "deleteTransferencia(transferencia.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>