
<div class="col-sm-6 offset-sm-3">
    <h2>Actualizacion de un cliente:</h2>

    <!--Usamos Binging de angular para llamar al método del .ts asociado-->
    <!--La sintaxis [()] BananaInBox es un Two-Way Binding-->
    <form (ngSubmit) = "onSubmitForm()">
    
        <div class="form-group">
            <label> Nombre </label>
            <input type="text" class ="form-control" id = "nombre" [(ngModel)] = "cliente.nombre" name = "nombre">
        </div>
    
        <div class="form-group">
            <label> Email</label>
            <input type="text" class ="form-control" id = "email" [(ngModel)] = "cliente.email" name = "email">
        </div>
    
        <div class="form-group">
            <label> Id de gestor</label>
            <input type="text" class ="form-control" id = "id_gestor" [(ngModel)] = "cliente.id_gestor" name = "id_gestor">
        </div>

        <div class="form-group">
            <label> ID </label>
            <input type="text" class ="form-control" id = "id" [(ngModel)] = "cliente.id" name = "id">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div> 